    <footer id="footer" class="pure-g">
      <div class="inner pure-u-1">
        Powered by <a href="http://picocms.org/">Pico</a> CMS &ndash;
        With Just Pico template by <a href="http://blocknot.es">mat</a>.
      </div>
    </footer>
  </div> <!-- layout closing -->
  <div id="overlay"></div>
  <script src="{{ theme_url }}/js/main.js"></script>
</body>
</html>
